<!DOCTYPE html>
<html>
<head>
    <title>Expotec 2015 / DDD + BDD + BEHAT</title>
    <link rel="stylesheet" href="/assets/semantic/dist/semantic.min.css"/>

    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/semantic/dist/semantic.min.js"></script>
</head>
<body style="background: #FFFFFF">
    <div style="width: 60%; margin: 0 auto">
        <br>
        <div class="ui error message">
            <div class="header">
                User "{{ userInfo.username }}" using password
                "{{ userInfo.password }}" not found!
            </div>
        </div>
        
        <a href="/">&lt;&lt; Back</a>
    </div>
</body>
</html>
