<!DOCTYPE html>
<html>
<head>
    <title>&ulcorner; Great login page &ulcrop;</title>
    <link rel="stylesheet" href="assets/semantic/dist/semantic.min.css"/>

    <script src="assets/jquery/dist/jquery.min.js"></script>
    <script src="assets/semantic/dist/semantic.min.js"></script>
</head>
<body style="background: #FFFFFF">
    <div style="width: 60%; margin: 0 auto">
        <form class="ui form" method="post">
            <br/>
            <h1 class="ui dividing header">Login</h1>
            <h4 class="ui dividing header">Account Info</h4>
            <div class="two fields">
                <div class="required field">
                    <label>Username</label>
                    <div class="ui icon input">
                        <input type="text" placeholder="Username">
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="required field">
                    <label>Password</label>
                    <div class="ui icon input">
                        <input type="password">
                        <i class="lock icon"></i>
                    </div>
                </div>
            </div>
            <div class="ui error message">
                <div class="header">We noticed some issues</div>
            </div>
            <button class="ui submit button green">Sign In</button>
        </form>
    </div>
</body>
</html>
